body {
	margin: 0; /*remove the default margin*/
	padding: 0 5% 0 5%; /*padding top, right, botom, left*/
	font-family: 'IBM Plex Sans', sans-serif;
}

header {
	padding: 1%;
	background-color: #f2f2f2;
}

span {
	position: relative; /*in order to be able to move it set margins*/
	bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	color: #3D3E3E;
}

nav ul {
	padding: 1%;
	margin-top: 0;
	background-color: #653D3C;
}

nav ul li {
  list-style-type: none;
  display: inline;
}

nav ul li a {
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none; /*remove underline from the nav bar*/
	padding-right: 1%; /*separate the words from each other*/
}

h1 {
	color: #303030;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	padding: 1%;
}

h2 {
	background-color: #978484;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	padding: 1%;
}


.img {			/*sets the size of all img to be the same*/
	width: 80%;
	height: 65%;
	object-fit: cover; /*covers the rest of the picture so it doesn't streach*/
}

h3 {
	font-weight: bold;
	font-size: 25px;
	width: 80%;
}

#mainsection { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.section {
	width: 50%; /*to make sure that the whole space of the secion is used*/
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.right h3 { 
	float: right; /*adjust the right text boxes to be on the right*/
	text-align: left; /*adjust the text to start from the left*/
}

hr {
	background-color: #978484;
	padding: 3px;
}

footer {
	text-align: center;
}







