body {
	margin: 0; /*remove the default margin*/
	padding: 0 5% 0 5%;
	font-family: 'IBM Plex Sans', sans-serif;
}

header {
	padding: 1%;
	background-color: #f2f2f2;
}

span {
	position: relative; /*in order to be able to move it set margins*/
	bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	color: #3D3E3E;
}

nav ul {
	padding: 1%;
	margin-top: 0;
	background-color: #653D3C;
}

nav ul li {
  list-style-type: none;
  display: inline;
}

nav ul li a {
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none; /*remove underline from the nav bar*/
	padding-right: 1%; /*separate the words from each other*/
}

h1 {
	color: #303030;
	text-align: center;
	font-size: 60px;
	padding: 5%;
	font-family: 'Permanent Marker', cursive;
}

h2 {
	background-color: #978484;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	padding: 1%;
}

h3 {
	font-weight: bold;
}

#mainsection {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.section {
	display: flex; 
	flex-basis: calc(50% - 40px); 
	flex-direction: column;
}

hr {
	 border-width: 3px;
}

footer {
	text-align: center;
}

.img {
	width: 50%;
	height: 40%;
	object-fit: scale-down;
}






